---
title: Basic
layout: default
path-to-root: ../../
---

{% include o-row-full-width.html class="header" %}
  {% include o-col-12.html class="last" %}
    <td class="six sub-columns">
      <img src="http://placehold.it/200x50">
    </td>
    <td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
      <span class="template-label">BASIC</span>
    </td>
  {% include x-col.html %}
{% include x-row-full-width.html %}
{% include o-container.html %}
  {% include o-row.html %}
    {% include o-col-12.html class="last" %}

      <td>
        <h1>Hi, Susan Calvin</h1>
        <p class="lead">Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.</p>
        <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. consequat vel lacus. Sed iaculis pulvinar ligula, ornare fringilla ante viverra et. In hac habitasse platea dictumst. Donec vel orci mi, eu congue justo. Integer eget odio est, eget malesuada lorem. Aenean sed tellus dui, vitae viverra risus. Nullam massa sapien, pulvinar eleifend fringilla id, convallis eget nisi. Mauris a sagittis dui. Pellentesque non lacinia mi. Fusce sit amet libero sit amet erat venenatis sollicitudin vitae vel eros. Cras nunc sapien, interdum sit amet porttitor ut, congue quis urna.</p>
      </td>
    {% include x-col.html %}
  {% include x-row.html %}
  {% include o-row.html class="callout" %}
    {% include o-col-12.html class="last" %}
      <td class="panel">
        <p>Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. <a href="#">Click it! »</a></p>
      </td>
    {% include x-col.html %}
  {% include x-row.html %}
  {% include o-row.html class="footer" %}
    {% include o-col-6.html %}

      <td class="left-text-pad">

        <h5>Connect With Us:</h5>

        <table class="tiny-button facebook">
          <tr>
            <td>
              <a href="#">Facebook</a>
            </td>
          </tr>
        </table>

        <br>

        <table class="tiny-button twitter">
          <tr>
            <td>
              <a href="#">Twitter</a>
            </td>
          </tr>
        </table>

        <br>

        <table class="tiny-button google-plus">
          <tr>
            <td>
              <a href="#">Google +</a>
            </td>
          </tr>
        </table>

      </td>
    {% include x-col.html %}
    {% include o-col-6.html class="last" %}
      <td class="last right-text-pad">
        <h5>Contact Info:</h5>
        <p>Phone: 408.341.0600</p>
        <p>Email: <a href="mailto:hseldon@trantor.com">hseldon@trantor.com</a></p>
      </td>
    {% include x-col.html %}
  {% include x-row.html %}
  {% include o-row.html %}
    {% include o-col-12.html class="last "%}
      <td align="center">
        <center>
          <p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Unsubscribe</a></p>
        </center>
      </td>
    {% include x-col.html %}
  {% include x-row.html %}
{% include x-container.html %}
